main{
    width: 99vw;
    display: flex;
    justify-content: space-around;
    background-image: url(https://s6.gifyu.com/images/bMSWK.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid #605247;
    /* position: absolute; */
    /* top: 10px; */
    padding-top: 1rem;
    min-height: 80vh;

      
}


.entities-wrapper{
    max-height: 80vh;
    overflow: scroll;
    min-width: 25vw;
    display: flex;
    flex-direction: column;
    scrollbar-width: 0;
    overflow: hidden;
}


